body {
	
    margin: 0;
	padding: 0;
	background-color: white;

}

.cell {
	
	width: 100px;
	height: 100px;
	border: 2px solid;
	text-align: center;
	font-size: 60px;
	
}

.class_table_cell{

	background-color: #a86718;
	border: 5px solid;
	
}

.class_empty_cell{

	background-color: lightgray;
	
}

#id_game_container {
	
    background-color: orange;
    
    width: 400px;
    margin: 0 auto;
	border: 3px solid;
    
    padding-top: 50px;       
    padding-bottom: 30px;    

    display: flex;
    flex-direction: column;
    align-items: center;
	
}

#id_table{

	margin-left: auto;
	margin-right: auto;
	background-color: #a86718;
	
}

#id_table:focus {
    
    border-color: orange;
    outline: none; 
}

#move_count_para{
	
	text-align: center;
	font-size: 30px;
	
}