.cell {
	
	width: 100px;
	height: 100px;
	border: 2px solid;
	text-align: center;
	font-size: 60px;
	
}

.class_table_cell{

	background-color: lightblue;
	
}

.class_empty_cell{

	background-color: lightgray;
	
}

#id_table{

	margin-left: auto;
	margin-right: auto;
	
}

#move_count_para{
	
	text-align: center;
	font-size: 30px;
	
}